body{
    
}
.favorable{
    background-color: green;
    width: 15%;
}

.moderate{
    background-color: orange;
}

.severe{
    background-color: red;
}

.main-card{
    background-color: grey;
    padding: 1em;
    font-weight: bold;
}

.future-cards{
    background-color: rgb(199, 247, 247);
}


